extends layout

block content
  header
  main.landing
    h3 past 7 days: X(+2.4%) Projects by Y(-10%) developers - 95% approval
    h3 past 24hours X(-10%) Projects by Y(+4.3) developers  - 85% approval

    section.hero
      .banner.cf
        h2 last 24 hours
        .block
          p X(+2.4%) Projects
        .block
          p Y(-10%) developers
      .banner
        h2 last 7 Days
        .block
          p X(-10%) Projects
        .block
          p Y(-10%) developers
    h4 latest Projects
    section.grid
