extends layout

block content
  header
  main.landing

    section.hero
      .statistics
        .stat__pannel
          h2.stat__title last 24 hours
          .stat__cards
            .stat__card
              .stat__number
                span.stat.stat__project24--approved 0
                .stat__detail Approved
              span.stat.stat__project24--approved-change.--positive
            .stat__card
              .stat__number
                span.stat.stat__project24--flagged 0
                .stat__detail Rejected
              span.stat.stat__project24--flagged-change.--positive

        .stat__pannel
          h2.stat__title last 7 Days
          .stat__cards
            .stat__card
                .stat__number
                  span.stat.stat__project7--approved 0
                  .stat__detail Approved
                span.stat.stat__project7--approved-change.--positive
            .stat__card
                .stat__number
                  span.stat.stat__project7--flagged 0
                  .stat__detail Rejected
                span.stat.stat__project7--flagged-change.--positive

    h2.grid__title Latest Utopian Projects
    section.grid
