@import url('https://fonts.googleapis.com/css?family=Varela+Round');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  padding: 50px;
  font: 14px 'Varela Round', Helvetica, Arial, sans-serif;
  background-color: #f7f9fb;
  color: #6f749a;
}

a {
  color: #00B7FF;
}

header {
  text-align: center;
}
main {
  margin: 0 auto;
  width: 100%;
}


.cf {
  content: "";
  display: table;
  clear: both;
}

.hero {
  width: 100%;
}

.statistics,
.stat__cards {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100%;
}
.stat__pannel {
}
.stat__card {
  padding: 20px;
  border: solid 1px #fafafa;
  margin: 5%;
  background: #fff;
  box-shadow: 0 0.375rem 1.25rem 0 rgba(61,66,80,.18);
  border-radius: .625rem;
  position: relative;
  text-align: center;
}

.stat__title {
  text-align: center;
}
.stat__number {
  display: inline-block;
  float: left;
}
.stat {
  font-size: 52px;
  line-height: 1;
}
.stat__detail {
  /*text-align: right;*/
  /*position: absolute;
  bottom: 0;
  right: 0;*/
}
.--positive {
  color: #72e77b;
  display: inline-block;
  font-size: 30px;
  margin-top: 20px;
  margin: 20px 0 0 5px;
}
.--negative {
  color: #e78d72;
}
.stat__project7--flagged-change,
.stat__project7--approved-change,
.stat__project24--flagged-change,
.stat__project24--approved-change {
  display: inline-block;
  font-size: 30px;
  margin: 20px 0 5px
}



.profile__lead {
padding: 50px 0 75px;
}
.profile__lead a {
  color: #6f749a;
}
.grid {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 100%;
}

.grid__title {
  padding: 50px 0 50px;
  text-align: center;
  font-size: 22px;
}


.project-card {
  padding: 30px 30px 30px;
  border: solid 1px #fafafa;
  float: left;
  margin: 5% 5%;
  background: #fff;
  box-shadow: 0 0.375rem 1.25rem 0 rgba(61,66,80,.18);
  border-radius: .625rem;
  position: relative;
}

.project__updates {
  font-family: courier;
  position: absolute;
  top: -10px;
  right: -10px;
  font-weight: 700;
  background-color: #ffd400;
  height: 35px;
  width: 35px;
  line-height: 35px;
  border-radius: .625rem;
  text-align: center;
  transform: rotate(45deg);
}
.project__updates span {
  font-size: 19px;
  display: block;
  transform: rotate(-45deg);
}
.project__icons {
  position: absolute;
  bottom: 18px;
  right: 20px;
}
.project__stat {
  display: block;
  float: right;
  margin-left: 15px;
  font-weight: 700;
  font-size: 17px;
  position: relative;
}
.project__stat svg {
  display: inline-block;
  vertical-align: text-top;
  fill: currentColor;
  width: 20px;
  height: 20px;
}
.project__stat--comment svg {
  transform: translateY(2px);
}
.project__stat--thumb svg {
  transform: translateY(-2px);
}
.project__name {
  margin-bottom: 10px;
}

.project__age {
  position: absolute;
  bottom: 20px;
  left: 30px;
  font-size: 14px;
}
.project__stat a {
  color: #6f749a;
}

.project__title {
  margin-bottom: 10px;

}
.project__desc {
  margin-bottom: 35px;
}

img {
  max-width: 100%;
}

p {

  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;

  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;

}
.project__stat:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
  cursor: default;
}
.tooltiptext {
  font-size: 12px;
    visibility: hidden;
    width: 130px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 5px;
    border-radius: 6px;

    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;

    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}
